/* style.css */
/* font posada al codi */
* {
    outline: 1px dotted red;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
    font-size: 14px;
}

* {
    font-family: "Inter", helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* === CONTENIDORS NIVELL 1 === */

.CONT_1_EXT {
    width: 750px;
    display: flex;
    outline: 6px solid #000000;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    overflow: hidden;
    height: fit-content;
}

/* === CONTENIDORS NIVELL 2 === */

.CONT_2_HEAD {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-content: flex-start;
    background-color: #ffe4a7;
    padding-left: 10px;
    padding-right: 10px;
}

.CONT_2_TAB {
    border-top: 3px solid #000000;
    /* background-color: #e4ffd6 */
}

.CONT_2 {
    display: flex;
    flex-direction: row;
}

.CONT_2_EXP {
    display: flex;
    flex-direction: row;
}

.CONT_2_COMPE {
    display: flex;
    flex-direction: row;
}

.CONT_2_BLOC_IDM {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 10px;
}

.CONT_2_CONTACT {
    display: flex;
    height: auto;
    flex-direction: row;
}

/* === CONTENIDORS NIVELL 3 === */

.CONT_3_TAB {
    display: flex;
    flex-direction: row;
    background-color: #1aa7a7;
    position: relative;
    width: fit-content;
    padding: 5px 15px 5px 10px;
    border-bottom-right-radius: 35px;
}


.CONT_3_EXP_INFO {
    display: flex;
    flex-direction: column;
    width: 600px;
    flex-grow: 1;
    padding-left: 10px;
    justify-content: flex-start;
    align-content: flex-start;
    column-gap: 0;
}

.CONT_3_EXP_ICONA {
    /* background-color: #ffe4a7 */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.CONT_3_CONTACT_INFO {
    display: flex;
    flex-direction: column;
    width: 600px;
    flex-grow: 1;
    padding: 10px;
    justify-content: center;
    row-gap: 5px;
}



.CONT_3_COMPE {
    display: flex;
    flex-direction: row;
}

.CONT_3_IDIOMES {
    display: inline-block;
    margin-right: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* === CONTENIDORS NIVELL 4 === */

.CONT_4_COMPE_HALF {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;

    /* flex-basis: 50%; */
    /* width: 50%; */
}

/* === CONTENIDORS NIVELL 5 === */


.CONT_5_COMPE_AMBIT {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    /* background-color: #00ffff */
}

/* === CONTENIDORS NIVELL 6 === */

.CONT_6_COMPE_IMG_1,
.CONT_6_COMPE_IMG_2,
.CONT_6_COMPE_IMG_3 {
    width: 150px;
    min-height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    column-gap: 10px;
    align-items: center;
}

.CONT_6_COMPE_TXT {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 2;
}

/* ============ FILET =============== */

.FILET_EXT {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.FILET_INT {
    background-color: grey;
    height: 1px;
    width: 100%;
}

/* ============ IMG =============== */
.CONT_3_EXP_ICONA img {
    width: 75px;
    height: 75px;
}

.CONT_6_COMPE_IMG_1 img {
    width: 60px;
    height: 60px;
}

.CONT_6_COMPE_IMG_2 img {
    width: 50px;
    height: 50px;
}

.CONT_6_COMPE_IMG_3 img {
    width: 35px;
    height: 35px;
}

/* ============ TEXT =============== */

.TXT_HEAD_NOM {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
}

.TXT_HEAD_POS {
    text-transform: capitalize;
    color: #a0a0a0;
    font-weight: bold;
    font-size: 1rem;
}

.TXT_HEAD_LOC {
    font-style: italic;
    text-transform: capitalize;
    font-size: 1rem;
}

.TXT_HEAD_NOM,
.TXT_HEAD_POS,
.TXT_HEAD_LOC {
    margin-top: 0;
    padding-top: 0;
}

.TXT_TAB {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.TXT_FEINA_H1 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
}

.TXT_FEINA_H2 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
}

.TXT_FEINA_P {
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    font-size: 1rem;
}

.TXT_COMPE_H {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1rem;
}

.TXT_COMPE_P {
    font-weight: 300;
    font-size: 1rem;
}

.TXT_H {
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    font-size: 1rem;
}

.TXT_P {
    font-weight: 300;
    font-size: 1rem;
}

.TXT_B {
    font-weight: 650;
    font-size: 1rem;
}

.TXT_IDIOMA_H {
    font-weight: bold;
    text-transform: capitalize;
}

.TXT_IDIOMA_P {
    font-weight: 300;
    text-transform: capitalize;
}

/* === TAULA GRID === */

.TAULA_IDM_GRID {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0;
    align-items: baseline;
    margin-left: 10px;
    margin-bottom: 6px;
    margin-top: 5px;
}

.TAULA_IDM_GRID div {
    padding-left: 1px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}
